* {
  all: unset;
}

window.popup {
  > * {
    border: none;
    box-shadow: none;
  }

  menu {
    border-radius: 9px;
    background-color: $base;
    padding: 10px;

    separator {
      background-color: transparentize($overlay0, 0.7);
    }

    menuitem {
      @include flatbutton;
      padding: 4px;
      margin: 4px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
