$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$crust-contrast: #11131d;
$crust-lighter: #15151f;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$lavender: #b4befe;
$blue: #89b4fa;
$mauve: #cba6f7;
$red: #f38ba8;
